# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
.expo-shared/

# Android
android/.gradle
android/build
android/app/build

# iOS
ios/Pods/
ios/build

# Testing
coverage/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
.env
